# 제외할 폴더
.git/
.gradle/
bin/
build/
logs/
.idea/
.settings/

# 제외할 파일
.classpath
.project
local.properties
settings.gradle

!src/main/java/
src/main/java/*
!src/main/java/java24/

!src/main/resources/
src/main/resources/*
!src/main/resources/*.xml
!src/main/resources/*.properties
!src/main/resources/java24/

!src/test/java/
src/test/java/*
!src/test/java/java24/